# Build outputs
.nuxt
.output
.pruvious
dist
tmp

# Node dependencies
node_modules

# Misc
.DS_Store
.uploads
*.sqlite
*.sqlite-*
/playground

# Local env files
.env
.env.*
!.env.example
!.env.test.example
