# Build outputs
.build
.nuxt
.output
.pruvious
dist
tmp

# Node dependencies
node_modules

# Misc
.claude
.DS_Store
.uploads
*.sqlite
*.sqlite-*
/playground

# Local env files
.env
.env.*
!.env.example
!.env.*.example
