::ng-deep svg {
  width: 100%;
  height: 100%;
}

.grid:empty {
  @apply grid-cols-1;
}

.grid:empty::after {
  content: 'No icons to select';
  @apply text-sm text-gray-400;
}

.grid.filtered:empty::after {
  content: 'No icons found';
}
