.errors {
  @apply inline-block h-5 min-w-[1.25rem] shrink-0 rounded-full bg-red-500 px-1.5 text-center text-xs leading-5 text-white;
}

.checkbox-only input[type='checkbox'] {
  @apply mt-0;
}

.checkbox-only input[type='checkbox']:not(:checked):not(:hover):not(:focus) {
  @apply border-primary-400;
}

.text-upright {
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.transition-height {
  transition-property: height;
}

.black-hole {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.allowed-blocks-errors {
  @apply flex flex-col gap-4;
}

.allowed-blocks-errors li {
  @apply before:bg-primary-500 relative pl-3 before:absolute before:inset-y-0 before:left-0 before:w-1 before:rounded;
}

.dimmed {
  @apply text-gray-400;
}

td a .dimmed {
  @apply transition;
}

td a:hover .dimmed,
td a:focus .dimmed {
  @apply text-primary-700;
}
