body,
input,
textarea,
select {
  @apply text-gray-700;
}

html {
  @apply overflow-y-auto;
}

html,
body {
  @apply h-full bg-gray-50;
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium text-gray-900;
}

a {
  @apply transition;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: theme('colors.gray.700') !important;
}

table {
  @apply min-w-full border-separate border-spacing-0 rounded-md border bg-white;
}

th,
td {
  @apply px-4 text-sm first:pl-6 last:pr-6;
}

th {
  @apply sticky top-0 z-10 border-b bg-white/75 py-3.5 text-left font-medium text-gray-900 backdrop-blur backdrop-filter;
}

th:first-child {
  @apply rounded-tl-md;
}

th:last-child {
  @apply rounded-tr-md;
}

th button {
  @apply invisible relative ml-1.5 h-4 w-4 text-gray-400 transition-colors hocus:text-primary-700;
}

th:hover button,
th:focus-within button {
  @apply visible;
}

th button.active {
  @apply visible text-gray-900 opacity-100;
}

td {
  @apply whitespace-nowrap border-b py-4;
}

tr:last-child td {
  @apply border-none;
}
